pre.box_todo.language-js {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 40px;
    background: #282834;
    font-size: 14px;  
}

code.todo.language-js {    
    color: #bfc1c2;    
    text-shadow: none;
    line-height: 1;  
}

@media (max-width: 570px) {
    pre.box_todo.language-js {
        padding-left: 20px;
        font-size: 12px;  
    }
    
    code.todo.language-js {    
        line-height: 0.8;  
    }
}    